<employee-navbar></employee-navbar>
<div class="container">
  <h4>SORU-CEVAP</h4>
  <div class="chat-window">
    <div class="message user-message  " *ngFor="let mesaj of mesajlar" >
      <label class="sender">{{mesaj.ileten}}</label>
      <span class="time">{{mesaj.zaman}}</span>
      <p>{{mesaj.mesaj}}</p>
    </div>
  

    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="yeniMesaj" placeholder="Mesajınızı yazın...">
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="ilet(yeniMesaj)">      
          <i class="fa fa-paper-plane"></i>
            </button>
          </div>
        </div>

  </div>
  

 

</div>
  