
  
  .custom-table th {
    /* Başlık sütunlarının stilini ayarlayın */
    background-color: #81a37c;
    color: #090000;
    font-weight: bold;
  }
  
  .custom-table td {
    /* Veri sütunlarının stilini ayarlayın */
    font-family: Arial, sans-serif;
  }
  
 
  .custom-table :hover {
    /* Üzerine gelindiğinde satırın arka plan rengi */
    background-color: #98dba0;
  }
  
  .custom-table td, .custom-table th {
    /* Hücre içeriği hizalama */
    padding: 10px;
  }
  