 <div class="container">
 <nav class="navbar navbar-expand-lg navbar-light  mt-3 px-5 ">
    <a class="navbar-brand" href="#" routerLink="/client" routerLinkActive="active">
      <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="Logo" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link text-white" href=""routerLink="/clientRandevularim" routerLinkActive="active"  >Randevularım</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"  routerLink="/clientRandevu" routerLinkActive="active" >Randevu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="/clientAnaliz" routerLinkActive="active" >Analiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="/personel" routerLinkActive="active" >Eğitmenler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="/chat" routerLinkActive="active" >Mesajlar</a>
        </li>
      </ul>
    </div>
  </nav>
</div>




