<navbar></navbar>
<div class="container mt-5 border border-light p-5 ">
  <h5>YENİ RANDEVU </h5>
  <form>
    <div class="mb-3">
      <label for="egitmen" class="form-label">
        <i class="bi bi-person-fill"></i> Eğitmen
      </label>
      <input type="text" class="form-control" id="egitmen">
    </div>
  
    <div class="mb-3">
      <label for="tarih" class="form-label">
        <i class="bi bi-calendar-fill"></i> Tarih
      </label>
      <input type="date" class="form-control" id="tarih">
    </div>
  
    <div class="mb-3">
      <label for="saat" class="form-label">
        <i class="bi bi-clock-fill"></i> Saat
      </label>
      <input type="time" class="form-control" id="saat">
    </div>
  
    <div class="mb-3">
      <label for="ders" class="form-label">
        <i class="bi bi-book-fill"></i> Ders
      </label>
      <input type="text" class="form-control" id="ders">
    </div>
  
    <div class="mb-3">
      <label for="not" class="form-label">
        <i class="bi bi-card-text-fill"></i> Not
      </label>
      <textarea class="form-control" id="not" rows="3"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary">
      Kaydet
    </button>
  </form>
  
</div>