<admin-navbar></admin-navbar>
<div class="container mt-5 table-responsive">
    <h5>{{title}}</h5>
    <table class="table">
      <thead>
        <tr>
          <th><i class=""></i>ID</th>
          <th><i class="fas fa-user ">Ad</i></th>
          <th><i class="fas fa-user ">Soyad</i></th>
          <th><i class="fas fa-id-card">TC</i> </th>
          <th><i class="fas fa-home">Adres</i></th>
          <th><i class="fas fa-phone">Telefon</i></th>
          <th><i class="fas fa-envelope">E-Posta</i></th>
          <th>İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kullanici of kullaniciListesi" > <!--kullanici verileri ts dosyasındaki diziden çekildi -->
          <td>{{ kullanici.id }}</td>
          <td>{{ kullanici.ad }}</td>
          <td>{{ kullanici.soyad }}</td>
          <td>{{ kullanici.tc }}</td>
          <td>{{ kullanici.adres }}</td>
          <td>{{ kullanici.telefon }}</td>
          <td>{{ kullanici.eposta }}</td>
          <td>
            <button class="btn btn-primary" (click)="guncelleKullanici(kullanici.id)">
                <i class="fas fa-edit beyaz"></i> Güncelle
              </button>
            <button class="btn btn-danger" (click)="silKullanici(kullanici.id)"><!--kullanıcı id yi buradan gönderdik-->
              <i class="fas fa-trash-alt beyaz"></i> Sil
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  