<employee-navbar></employee-navbar>
<div class="container mt-5 border border-light p-5 ">
    <h3>YENİ RANDEVU </h3>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="studentName">
          <i class="fas fa-user"></i> Öğrenci Adı
        </label>
        <input type="text" id="studentName" class="form-control" formControlName="studentName">
      </div>
      <div class="form-group">
        <label for="course">
          <i class="fas fa-book"></i>Ders
        </label>
        <input type="text" id="course" class="form-control" formControlName="course">
      </div>
      <div class="form-group">
        <label for="date">
          <i class="far fa-calendar-alt"></i> Tarih
        </label>
        <input type="text" id="date" class="form-control" formControlName="date">
      </div>
      <div class="form-group">
        <label for="time">
          <i class="far fa-clock"></i> Saat
        </label>
        <input type="text" id="time" class="form-control" formControlName="time">
      </div>
      <div class="form-group">
        <label for="note">Not Bilgileri</label>
        <textarea id="note" class="form-control" formControlName="note"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">GÖNDER</button>
    </form>
    
</div>