<admin-navbar></admin-navbar>
<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-primary btn-block" routerLink="/kullanici" routerLinkActive="active"  >Müşteri<br>(20)</button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-warning btn-block" routerLink="/kadro" routerLinkActive="active"  >Personel
            <br>(30)
        </button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-info btn-block"  routerLink="/allRandevu" routerLinkActive="active" >Randevular
            <br>(8)
        </button>
      </div>
      
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Bildirimler</h5>

                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    Bu bir renkli bildirimdir.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Bu bir renkli bildirimdir.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Bu bir renkli bildirimdir.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                <a href="#"  routerLink="/adminBildirim" routerLinkActive="active" class="btn btn-primary">Tüm Bildirimler</a>
              </div>
            </div>
          </div>
    </div>

    
  </div>